Host router router.foxden.network
	HostName router.foxden.network
	User admin
Host router-backup router-backup.foxden.network
	HostName router-backup.foxden.network
	User admin

Host redfox redfox.doridian.net
	HostName 10.99.10.1
	User admin

Host pikvm-rack pikvm-rack.foxden.network
	HostName pikvm-rack.foxden.network
	User root

Host arcticfox arcticfox.doridian.net
	User root
	Port 2222

Host *
	ServerAliveInterval 60
	ServerAliveCountMax 5
