Host router router.foxden.network
	HostName router.foxden.network
	User admin
        WarnWeakCrypto no

Host router-backup router-backup.foxden.network
	HostName router-backup.foxden.network
	User admin
        WarnWeakCrypto no

Host redfox redfox.doridian.net redfox.foxden.network
	User admin
        WarnWeakCrypto no

Host pikvm-rack pikvm-rack.foxden.network
	HostName pikvm-rack.foxden.network
	User root
