[Unit]
Description=Run dotfiles-backup

[Service]
User=root
Type=simple
Slice=dotfiles-backup.slice
Restart=no
ExecStart=/fox/dotfiles/backup.sh

[Install]
WantedBy=multi-user.target
